# This file contains common pin mappings for the BIGTREETECH SKR E3
# Turbo. To use this config, the firmware should be compiled for the
# LPC1769.

# See docs/Config_Reference.md for a description of parameters.

#######################  INCLUDE  ###################################
[include macros.cfg]
[include BFPTouch.cfg]
[include neopixel.cfg]
[include adaptive_bed_mesh.cfg]
[include config_backup.cfg]
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_0AF0FF07C0846AAF17BE555EC22000F5-if00
#### Podłączenie do UART raspberry
#serial: /dev/ttyAMA0
#restart_method: command


[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 10
max_z_accel: 100
square_corner_velocity: 5.0

######################  OŚ X  #######################################
[stepper_x]
step_pin: P1.4
dir_pin: !P1.8
enable_pin: !P1.0
microsteps: 16
rotation_distance: 40
endstop_pin: ^P1.29
position_endstop: 0
position_min: 0
position_max: 220
homing_speed: 100

[tmc2209 stepper_x]
uart_pin: P1.1
#diag_pin: P1.29
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999
#####################################################################

######################  OŚ Y  #######################################
[stepper_y]
step_pin: P1.14
dir_pin: !P1.15
enable_pin: !P1.9
microsteps: 16
rotation_distance: 40
endstop_pin: ^P1.28
position_endstop: -12
position_min: -12
position_max: 225
homing_speed: 100

[tmc2209 stepper_y]
uart_pin: P1.10
#diag_pin: P1.28
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999
#####################################################################

######################  OŚ Z  #######################################
[stepper_z]
step_pin: P4.29
dir_pin: P4.28
enable_pin: !P0.4
microsteps: 16
rotation_distance: 8
endstop_pin:probe:z_virtual_endstop #3dtouch
#endstop_pin: ^P1.27 #krańcówka
#position_endstop: 0.0 #krańcówka
position_max: 260
position_min: -10
###########################test
homing_speed: 100
second_homing_speed: 3.0
homing_retract_dist: 5.0
homing_positive_dir: false

[tmc2209 stepper_z]
uart_pin: P0.5
#diag_pin: P1.27
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_z1]
#dual z - drugi silnik podłączony do wejścia pierwszego ekstrudera
step_pin: P2.6
dir_pin: P2.7
enable_pin: !P1.16
microsteps: 16
rotation_distance: 8

[tmc2209 stepper_z1]
uart_pin: P1.17
#diag_pin: P1.27
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999
#####################################################################

######################  EKSTRUDER  ##################################
[extruder]
max_extrude_only_distance: 100.0
step_pin: P2.11
dir_pin: !P2.12
enable_pin: !P0.21
microsteps: 16
rotation_distance: 7.7345
#rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.3        #P2.4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24    #P0.23
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300
pressure_advance = 0.08

[tmc2209 extruder]
uart_pin: P0.22
diag_pin: P1.25
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 43

[verify_heater extruder]
max_error:  140 
#[verify_heater extruder]
#max_error: 120
#####################################################################

######################  STÓŁ  #######################################
[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F #ATC Semitec 104GT-2
sensor_pin: P0.25
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130
#####################################################################

[homing_override]
set_position_z: 5
axes: z
gcode:
  G90
  G1 Z10 F5000
  G28 X0 Y0
  G1 X112.5 Y112.5 F5000
  SET_SERVO SERVO=BFPTouch ANGLE=25 ENABLE=1
    G4 P200
    G28 Z0
  SET_SERVO SERVO=BFPTouch ANGLE=0 ENABLE=0
  G1 Z10
  G4 P100


#[display]
#lcd_type: st7920
#cs_pin = EXP1_7
#sclk_pin = EXP1_6
#sid_pin = EXP1_8
#encoder_pins = ^EXP1_5, ^EXP1_3
#click_pin = ^!EXP1_2

[output_pin beeper]
pin: EXP1_1
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.011
scale: 1

[heater_fan my_nozzle_fan]
pin: P2.2
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[fan_generic extruder_partfan]
pin: P2.1

[static_digital_output tmc_standby_pins]
pins: !P3.26, !P3.25, !P1.18, !P1.19, !P2.13

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P2.8,  EXP1_3=P0.19, EXP1_5=P0.20, EXP1_7=P0.17, EXP1_9=<GND>,
    EXP1_2=P0.16, EXP1_4=<RST>, EXP1_6=P0.15, EXP1_8=P0.18, EXP1_10=<5V>

[pause_resume]

[display_status]

[virtual_sdcard]
path: /home/pi/ender_data/gcodes

####### Potrzebne do adaptive bed mesh
[exclude_object]

#służy do poziomowania stołu za pomocą 3dtouch. Komenda SCREWS_TILT_CALCULATE
[screws_tilt_adjust]
screw1: 0,218
screw1_name: tylna lewa sruba
screw2: 0,50
screw2_name: przednia lewa sruba
screw3: 170,50
screw3_name: przednia prawa sruba
screw4: 170,218
screw4_name: tylna prawa sruba
horizontal_move_z: 10.
speed: 150.
screw_thread: CW-M3

[respond]  #służy do wyświetlania komunikatów

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.813
#*# pid_ki = 1.077
#*# pid_kd = 110.428
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.553
#*# pid_ki = 1.477
#*# pid_kd = 915.731
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.065000, -0.022500, -0.020000, 0.005000, 0.022500
#*# 	  -0.047500, -0.022500, -0.022500, -0.012500, -0.030000
#*# 	  -0.042500, -0.007500, 0.000000, 0.005000, -0.012500
#*# 	  0.012500, 0.042500, 0.027500, 0.017500, -0.010000
#*# 	  0.080000, 0.072500, 0.047500, 0.027500, 0.005000
#*# tension = 0.2
#*# min_x = 48.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 45.0
#*# x_count = 5
#*# max_y = 179.0
#*# mesh_x_pps = 2
#*# max_x = 171.0
#*#
#*# [probe]
#*# z_offset = 1.115
#*#
#*# [bed_mesh 9x9 całości]
#*# version = 1
#*# points =
#*# 	  -0.057500, -0.005000, -0.005000, -0.007500, -0.000000, -0.027500, -0.055000
#*# 	  -0.030000, -0.020000, -0.007500, 0.012500, 0.007500, -0.005000, -0.042500
#*# 	  -0.017500, -0.030000, 0.005000, 0.002500, -0.005000, 0.005000, -0.030000
#*# 	  -0.022500, -0.017500, 0.020000, 0.000000, -0.007500, -0.007500, -0.030000
#*# 	  0.045000, 0.062500, 0.040000, 0.037500, 0.017500, -0.005000, -0.030000
#*# 	  0.087500, 0.070000, 0.065000, 0.055000, 0.017500, 0.012500, -0.040000
#*# 	  0.150000, 0.122500, 0.105000, 0.070000, 0.037500, 0.015000, -0.040000
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 210.0
#*# min_y = 10.0
#*# max_y = 199.96
